<div className="App">
  <header className="App-header">
  </header>

  <header className="App-body">
    <p1>Question 1:</p1>
    <p2>Are you dead?</p2>
  </header>

  <header className="App-buttons">
    <Button variant="contained" color="secondary" size="large"> No </Button>
    <div class="divider"></div>
    <Button variant="contained" color="default" size="large"> I Don't Know </Button>
    <div class="divider"></div>
    <Button variant="contained" color="primary" size="large"> Yes </Button>
  </header>

  <header className="App-progress">
    <p>Progress: 1/20</p>
    <LinearProgress variant="determinate" value={5} color="secondary"></LinearProgress>
  </header>
</div>